@model IEnumerable<OneStopTourist.Models.HomePage>

@{
    ViewBag.Title = "Save";
}

<h2>My Personal Itinerary</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br /><br />
    <div class="row">
            <div class="col-md-6">
                @Html.Partial("_PartialCurrentItinerary")
            </div>
                @if (Session["loggedInUser"] != null)
                {
                    @Html.Partial("_PartialUploadItinerary")
                }
                else {
                     @Html.Partial("_PartialSaveItinerary")
                }
        </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
